body {
     text-transform: uppercase;
}

.btn-btn-primary {
    margin-right:1rem;
}
h1 {
    font-size: 2.5rem;
    color: rgb(19, 0, 128);
}

label {
    font-size: 1rem;
    color: rgba(98, 0, 255, 0.815);
}
input::placeholder {
    font-size: 0.8rem;
}

